@charset "utf8";

header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
}

li {
    padding:0;
    margin:0;
}    


a {
    background-color:rgb(47,216,47);
    text-decoration: none;
    display: block;
    width: 100px;
    line-height: 60px;
    text-align: center;
}
a:hover {
    background-color:rgb(193,252,193);
    

}
main {
    width: 680px;
    margin:0 auto;
}